# üêº Pandas

## üìå What is Pandas?

**Pandas** is a Python library for **data analysis and manipulation**.

* Built on top of **NumPy**.
* Provides two main data structures:

  * **Series** ‚Üí one-dimensional labeled array (like a column).
  * **DataFrame** ‚Üí two-dimensional table (like Excel or SQL).
* Makes it easy to **clean, transform, join, and analyze data**.

‚ö° It‚Äôs the **go-to library** for working with datasets in data science, machine learning, and energy analytics.

---

## üì¶ Installation

If Pandas is not already installed, you can add it using:

```bash
pip install pandas
```

or (if using Anaconda):

```bash
conda install pandas
```

---

## üêç Import

```python
import pandas as pd

# Check version
print(pd.__version__)
```

‚úÖ By convention, Pandas is always imported as **`pd`**.

In [2]:
import pandas as pd


# üìä Series  

A **Series** is a one-dimensional labeled array in Pandas.  
Think of it as a **column of data** (like Excel), with both values and labels (index).

In [3]:
# Daily solar energy production (MWh)
solar = pd.Series([120, 135, 150, 160], 
                  index=["Day 1", "Day 2", "Day 3", "Day 4"])
print(solar)

Day 1    120
Day 2    135
Day 3    150
Day 4    160
dtype: int64

In [13]:
solar/100

Day 1    1.20
Day 2    1.35
Day 3    1.50
Day 4    1.60
dtype: float64

We can select label-based or using`.iloc` (index-based).

In [4]:
solar["Day 1"]

120

In [6]:
solar.iloc[0]

120

In [9]:
solar.keys()

Index(['Day 1', 'Day 2', 'Day 3', 'Day 4'], dtype='object')


# üè¢ Pandas: DataFrames  

A **DataFrame** is a two-dimensional labeled data structure (rows √ó columns).  
It‚Äôs like an **Excel table** or **SQL table**.  

‚ö° Example: production data for multiple plants.

In [10]:
# Energy production (MWh) for 3 plants over 4 days
data = {
    "Solar": [120, 135, 150, 160],
    "Wind": [200, 210, 190, 220],
    "Hydro": [300, 310, 305, 295]
}
df = pd.DataFrame(data, index=["Day 1", "Day 2", "Day 3", "Day 4"])
print(df)

       Solar  Wind  Hydro
Day 1    120   200    300
Day 2    135   210    310
Day 3    150   190    305
Day 4    160   220    295

---

# üìã Inspecting Data in Pandas

When working with a dataset, you often want to **look at its structure** before doing any analysis. Pandas provides several useful methods:

---

### ‚ÑπÔ∏è `df.info()`

Gives a quick summary of the DataFrame (index, column names, data types, non-null counts).

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Day 1 to Day 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Solar   4 non-null      int64
 1   Wind    4 non-null      int64
 2   Hydro   4 non-null      int64
dtypes: int64(3)
memory usage: 300.0+ bytes

---

### üè∑Ô∏è `df.index` and `df.columns`

* **`index`** ‚Üí labels of the rows (here: days).
* **`columns`** ‚Üí names of the columns (here: energy sources).

In [25]:
print(df.index)    # Index(['Day 1', 'Day 2', 'Day 3', 'Day 4'], dtype='object')
print(df.columns)  # Index(['Solar', 'Wind', 'Hydro'], dtype='object')

Index(['Day 1', 'Day 2', 'Day 3', 'Day 4'], dtype='object')
Index(['Solar', 'Wind', 'Hydro'], dtype='object')

### üëÄ `df.head()` and `df.tail()`

* **`head()`** ‚Üí shows the first 5 rows (or a given number).
* **`tail()`** ‚Üí shows the last 5 rows (or a given number).

In [26]:
print(df.head(2))   # First 2 days
print(df.tail(2))   # Last 2 days

       Solar  Wind  Hydro
Day 1    120   200    300
Day 2    135   210    310
       Solar  Wind  Hydro
Day 3    150   190    305
Day 4    160   220    295

---

### üìè `len(df)`

Returns the number of rows in the DataFrame.

In [27]:
print(len(df))  # 4

4

---

# üìä Descriptive Statistics 
## üìä Descriptive Statistics with `.describe()`

The **`.describe()`** method in Pandas quickly calculates **summary statistics** for numerical columns:

* **count** ‚Üí number of non-null values
* **mean** ‚Üí average
* **std** ‚Üí standard deviation
* **min**, **max** ‚Üí smallest and largest values
* **25%, 50%, 75%** ‚Üí percentiles (quartiles)


Why???
* Quickly shows **distribution** of data (min, max, spread).
* Helps spot **outliers** or suspicious values.
* Essential first step in **exploratory data analysis (EDA)**.

In [30]:
df.describe()

        Solar        Wind       Hydro
count    4.00    4.000000    4.000000
mean   141.25  205.000000  302.500000
std     17.50   12.909944    6.454972
min    120.00  190.000000  295.000000
25%    131.25  197.500000  298.750000
50%    142.50  205.000000  302.500000
75%    152.50  212.500000  306.250000
max    160.00  220.000000  310.000000

In [29]:
df.describe().transpose()

       count    mean        std    min     25%    50%     75%    max
Solar    4.0  141.25  17.500000  120.0  131.25  142.5  152.50  160.0
Wind     4.0  205.00  12.909944  190.0  197.50  205.0  212.50  220.0
Hydro    4.0  302.50   6.454972  295.0  298.75  302.5  306.25  310.0

---

## üìä Descriptive Statistics for Mixed Data

By default, `.describe()` only summarizes **numeric columns**.
To include **all columns** (numbers, text, categories, booleans), use:
```python
df.describe(include="all")
```

### üîé Notes

* For **categorical columns**: shows **unique values**, most frequent (**top**), and **frequency**.
* For **numeric columns**: shows full statistics (count, mean, std, percentiles).

üëâ This is very handy for **mixed energy datasets** (e.g., plant types, regions, and production values).

In [32]:
data = {
    "Plant": ["Solar", "Wind", "Hydro", "Solar"],
    "Region": ["North", "East", "West", "North"],
    "Production (MWh)": [120, 210, 305, 150]
}
df = pd.DataFrame(data)

df.describe(include="all")

        Plant Region  Production (MWh)
count       4      4          4.000000
unique      3      3               NaN
top     Solar  North               NaN
freq        2      2               NaN
mean      NaN    NaN        196.250000
std       NaN    NaN         81.585844
min       NaN    NaN        120.000000
25%       NaN    NaN        142.500000
50%       NaN    NaN        180.000000
75%       NaN    NaN        233.750000
max       NaN    NaN        305.000000

## üî¢ Frequency Counts with `.value_counts()`

The **`.value_counts()`** method shows how often each value appears in a column (or Series).
It‚Äôs great for understanding **categorical distributions**.

### üîé Why it‚Äôs useful?

* Quickly see **distribution of categories** (e.g., which plants dominate).
* Helpful for **imbalanced datasets** (e.g., one region has much more data).
* Works well with `.normalize=True` to get **percentages**.

In [33]:
data = {
    "Plant": ["Solar", "Wind", "Hydro", "Solar", "Wind", "Solar"],
    "Region": ["North", "East", "West", "North", "East", "West"],
}
df = pd.DataFrame(data)

# Count how many times each plant type appears
print(df["Plant"].value_counts())

# Count how many times each region appears
print(df["Region"].value_counts())

Plant
Solar    3
Wind     2
Hydro    1
Name: count, dtype: int64
Region
North    2
East     2
West     2
Name: count, dtype: int64

In [34]:
print(df["Plant"].value_counts(normalize=True))

Plant
Solar    0.500000
Wind     0.333333
Hydro    0.166667
Name: proportion, dtype: float64

---

## üéØ Unique Values with `.unique()` and `.nunique()`

* **`.unique()`** ‚Üí returns an array of unique values in a Series.
* **`.nunique()`** ‚Üí returns the number of unique values.

These are useful for quickly checking what categories exist in your data.

### üîé Why it‚Äôs useful?

* **`.unique()`** ‚Üí see what categories exist (e.g., Solar, Wind, Hydro).
* **`.nunique()`** ‚Üí check diversity (how many different categories are present).

In [35]:
data = {
    "Plant": ["Solar", "Wind", "Hydro", "Solar", "Wind", "Solar"],
    "Region": ["North", "East", "West", "North", "East", "West"],
}
df = pd.DataFrame(data)

# Unique plant types
print("Unique plants:", df["Plant"].unique())

# Number of unique plant types
print("Number of unique plants:", df["Plant"].nunique())

# Unique regions
print("Unique regions:", df["Region"].unique())

# Number of unique regions
print("Number of unique regions:", df["Region"].nunique())

Unique plants: ['Solar' 'Wind' 'Hydro']
Number of unique plants: 3
Unique regions: ['North' 'East' 'West']
Number of unique regions: 3

---

# üîé Timeseries vs. Data frame. Difference: `df['x']` vs `df[['x']]`

---

### üéØ Key Difference

* **Series** (`df['col']`) ‚Üí 1D, easy for quick calculations.
* **DataFrame** (`df[['col']]`) ‚Üí 2D, keeps the ‚Äútable‚Äù structure, useful when selecting **multiple columns** or when functions require a DataFrame.

---

üëâ Rule of thumb:

* Use `df['col']` when you want a **Series** (1D).
* Use `df[['col']]` when you want a **DataFrame** (2D).

In [36]:
data = {
    "Demand": [120, 135, 150, 160],
    "Production": [110, 140, 155, 170]
}
df = pd.DataFrame(data, index=["Day 1", "Day 2", "Day 3", "Day 4"])

### ‚úÖ `df['demand']` ‚Üí **Series**

* Returns a **one-dimensional object**.
* Acts like a single labeled column.

In [37]:
print(type(df["Demand"]))
print(df["Demand"])

<class 'pandas.core.series.Series'>
Day 1    120
Day 2    135
Day 3    150
Day 4    160
Name: Demand, dtype: int64

### ‚úÖ `df[['Demand']]` ‚Üí **DataFrame**

* Returns a **two-dimensional object**.
* Acts like a **new DataFrame** with just that column.

In [38]:
print(type(df[["Demand"]]))
print(df[["Demand"]])

<class 'pandas.core.frame.DataFrame'>
       Demand
Day 1     120
Day 2     135
Day 3     150
Day 4     160

---

# üìë Accessing Rows and Columns in Pandas

In Pandas, you can select **columns** and **rows** in different ways depending on whether you use **labels** or **positions**.

In [40]:
# Energy production dataset (MWh)
data = {
    "Solar": [120, 135, 150, 160],
    "Wind": [200, 210, 190, 220],
    "Hydro": [300, 310, 305, 295]
}
df = pd.DataFrame(data, index=["Day 1", "Day 2", "Day 3", "Day 4"])
df

       Solar  Wind  Hydro
Day 1    120   200    300
Day 2    135   210    310
Day 3    150   190    305
Day 4    160   220    295

---

## üéØ Calling Columns

1. **Single column as Series**

In [41]:
df["Solar"]

Day 1    120
Day 2    135
Day 3    150
Day 4    160
Name: Solar, dtype: int64

2. **Single column as DataFrame**

In [42]:
df[["Solar"]]

       Solar
Day 1    120
Day 2    135
Day 3    150
Day 4    160

3. **Multiple columns**

In [43]:
df[["Solar", "Wind"]]

       Solar  Wind
Day 1    120   200
Day 2    135   210
Day 3    150   190
Day 4    160   220

---

## üéØ Calling Rows

1. **By label ‚Üí `.loc[]`**

In [44]:
df.loc["Day 1"]        # row by index label
df.loc[["Day 1","Day 3"]]  # multiple rows

       Solar  Wind  Hydro
Day 1    120   200    300
Day 3    150   190    305

2. **By integer position ‚Üí `.iloc[]`**

In [45]:
df.iloc[0]   # first row
df.iloc[1:3] # slice rows 2‚Äì3

       Solar  Wind  Hydro
Day 2    135   210    310
Day 3    150   190    305

---

## üéØ Rows + Columns Together

1. **Label-based ‚Üí `.loc[row, column]`**

In [46]:
df.loc["Day 2", "Solar"]    # single value
df.loc[["Day 1","Day 3"], ["Solar","Wind"]]  # subset

       Solar  Wind
Day 1    120   200
Day 3    150   190

2. **Position-based ‚Üí `.iloc[row, column]`**

In [47]:
df.iloc[1, 0]   # single value (row 2, col 1)
df.iloc[0:2, 0:2]  # first 2 rows, first 2 cols

       Solar  Wind
Day 1    120   200
Day 2    135   210

## üìå Summary

* **`[]`** ‚Üí quick way for columns only.
* **`.loc[]`** ‚Üí selection by **labels** (rows, cols).
* **`.iloc[]`** ‚Üí selection by **integer positions**.

---

# üéØ Selection Helpers: `.at[]` and `.iat[]`

Sometimes you only need a **single value** (scalar) from your DataFrame.

* **`.at[row_label, col_label]`** ‚Üí access by **labels** (fastest).
* **`.iat[row_index, col_index]`** ‚Üí access by **integer positions** (fastest).

These are optimized for quick **scalar lookups**.


### üîé Key Points

* Use `.at[]` when you know the **row + column labels**.
* Use `.iat[]` when you know the **row + column positions**.
* Both are **faster** than `.loc[]` and `.iloc[]` when selecting a single cell.

In [110]:
# Energy production dataset (MWh)
df = pd.DataFrame({
    "Solar": [120, 135, 150, 160],
    "Wind": [200, 210, 190, 220],
    "Hydro": [300, 310, 305, 295]
}, index=["Day 1", "Day 2", "Day 3", "Day 4"])

# Get Hydro production on Day 3
val1 = df.at["Day 3", "Hydro"]   # label-based
val2 = df.iat[2, 2]              # index-based

print("Using .at[]:", val1)
print("Using .iat[]:", val2)

Using .at[]: 305
Using .iat[]: 305

---

# üóëÔ∏è Dropping Rows and Columns

You can remove **rows** or **columns** from a DataFrame using `.drop()`.

* `df.drop("col", axis=1)` ‚Üí drop a column
* `df.drop("row", axis=0)` ‚Üí drop a row
* `inplace=True` ‚Üí modify the DataFrame directly

In [111]:
# Energy production dataset (MWh)
df = pd.DataFrame({
    "Solar": [120, 135, 150, 160],
    "Wind": [200, 210, 190, 220],
    "Hydro": [300, 310, 305, 295]
}, index=["Day 1", "Day 2", "Day 3", "Day 4"])

print("Original DataFrame:\n", df)

# Drop a column (remove Hydro data)
df_no_hydro = df.drop("Hydro", axis=1)
print("\nAfter dropping Hydro column:\n", df_no_hydro)

# Drop a row (remove Day 4)
df_no_day4 = df.drop("Day 4", axis=0)
print("\nAfter dropping Day 4:\n", df_no_day4)

Original DataFrame:
        Solar  Wind  Hydro
Day 1    120   200    300
Day 2    135   210    310
Day 3    150   190    305
Day 4    160   220    295

After dropping Hydro column:
        Solar  Wind
Day 1    120   200
Day 2    135   210
Day 3    150   190
Day 4    160   220

After dropping Day 4:
        Solar  Wind  Hydro
Day 1    120   200    300
Day 2    135   210    310
Day 3    150   190    305

---
# üîó Concatenation

In Pandas, you can combine multiple **DataFrames** using **`pd.concat()`**.

* Works **row-wise** (stacking one below the other).
* Or **column-wise** (side by side).

## üìë Row-wise Concatenation

In [48]:
# Week 1 production (MWh)
week1 = pd.DataFrame({
    "Solar": [120, 135, 150, 160],
    "Wind": [200, 210, 190, 220],
    "Hydro": [300, 310, 305, 295]
}, index=["Day 1","Day 2","Day 3","Day 4"])

# Week 2 production (MWh)
week2 = pd.DataFrame({
    "Solar": [165, 170, 175, 180],
    "Wind": [210, 215, 225, 230],
    "Hydro": [310, 320, 315, 305]
}, index=["Day 5","Day 6","Day 7","Day 8"])

# Concatenate row-wise (stack weeks)
combined = pd.concat([week1, week2])
print(combined)

       Solar  Wind  Hydro
Day 1    120   200    300
Day 2    135   210    310
Day 3    150   190    305
Day 4    160   220    295
Day 5    165   210    310
Day 6    170   215    320
Day 7    175   225    315
Day 8    180   230    305


‚úÖ This stacks **Week 2 below Week 1** into one DataFrame.

---

## üìë Column-wise Concatenation

In [49]:
# Add a new DataFrame with prices (aligned by index)
prices = pd.DataFrame({
    "Price (‚Ç¨/MWh)": [50, 40, 30, 45]
}, index=["Day 1","Day 2","Day 3","Day 4"])

merged_cols = pd.concat([week1, prices], axis=1)
print(merged_cols)

       Solar  Wind  Hydro  Price (‚Ç¨/MWh)
Day 1    120   200    300             50
Day 2    135   210    310             40
Day 3    150   190    305             30
Day 4    160   220    295             45

‚úÖ This places **prices next to production data**.

---

### üîé Key Points

* `axis=0` (default) ‚Üí stack rows (like appending more days).
* `axis=1` ‚Üí add columns (like extra info for same days).

üëâ Concatenation is useful for combining **time periods** or **adding extra info** to your datasets.

‚ö†Ô∏è **Note on `.append()`**

* Older Pandas versions allowed `df1.append(df2)`.
* **It is now deprecated** üö´ and will be removed in future versions.
* ‚úÖ Use **`pd.concat([df1, df2])`** instead ‚Äî it‚Äôs faster, more flexible, and the recommended way.

---


# üîÄ Joins and Merges

In Pandas, **merging** works like **SQL joins** ‚Äî it combines two DataFrames based on a **common key column**.

* **Inner Join** ‚Üí only rows with matching keys (default).
* **Left Join** ‚Üí keep all rows from the left DataFrame.
* **Right Join** ‚Üí keep all rows from the right DataFrame.
* **Outer Join** ‚Üí keep all rows from both, fill missing with `NaN`.

---

### üîé Summary

* **Join** = combining two datasets by a key.
* **Types of joins** decide **what happens to non-matching rows**.

In [53]:
# Production data
production = pd.DataFrame({
    "Plant": [ "Wind", "Hydro"],
    "Production (MWh)": [ 200, 300]
})

# Price data
prices = pd.DataFrame({
    "Plant": ["Solar", "Wind"],
    "Price (‚Ç¨/MWh)": [50, 40]
})

---

### ‚úÖ Inner Join (default)

In [54]:
merged_inner = pd.merge(production, prices, on="Plant", how="inner")
merged_inner

  Plant  Production (MWh)  Price (‚Ç¨/MWh)
0  Wind               200             40

---

### ‚úÖ Left Join

Keeps **all plants from `production`**, even if missing prices.

In [55]:
merged_left = pd.merge(production, prices, on="Plant", how="left")
merged_left

   Plant  Production (MWh)  Price (‚Ç¨/MWh)
0   Wind               200           40.0
1  Hydro               300            NaN

---

### ‚úÖ Right Join

Keeps **all plants from `prices`**, even if missing production.

In [56]:
merged_right = pd.merge(production, prices, on="Plant", how="right")
merged_right

   Plant  Production (MWh)  Price (‚Ç¨/MWh)
0  Solar               NaN             50
1   Wind             200.0             40

---

### ‚úÖ Outer Join

Keeps **all plants from both** DataFrames. Missing values filled with `NaN`.

In [58]:
merged_outer = pd.merge(production, prices, on="Plant", how="outer")
merged_outer

   Plant  Production (MWh)  Price (‚Ç¨/MWh)
0  Hydro             300.0            NaN
1  Solar               NaN           50.0
2   Wind             200.0           40.0

In [60]:
merged = pd.merge(production, prices, on="Plant", how="outer")
merged["Revenue (‚Ç¨)"] = merged["Production (MWh)"] * merged["Price (‚Ç¨/MWh)"]
merged

   Plant  Production (MWh)  Price (‚Ç¨/MWh)  Revenue (‚Ç¨)
0  Hydro             300.0            NaN          NaN
1  Solar               NaN           50.0          NaN
2   Wind             200.0           40.0       8000.0

---
# üîé Filtering 
## üîé Filtering (Boolean Masks)

Use boolean conditions to filter rows.
We can filter rows in a DataFrame using **boolean conditions**.

* A condition returns `True`/`False` for each row.
* Only rows where the condition is `True` are selected.

In [61]:
import pandas as pd

# Energy production dataset (MWh)
df = pd.DataFrame({
    "Solar": [120, 135, 150, 160],
    "Wind": [200, 210, 190, 220],
    "Hydro": [300, 310, 305, 295]
}, index=["Day 1", "Day 2", "Day 3", "Day 4"])

# Select days where solar > 140 MWh
filtered = df[df["Solar"] > 140]
filtered

       Solar  Wind  Hydro
Day 3    150   190    305
Day 4    160   220    295

In [62]:
# Days where Wind = 210
df[df["Wind"] == 210]

       Solar  Wind  Hydro
Day 2    135   210    310

In [63]:
# Days where Hydro < 300
df[df["Hydro"] < 300]

       Solar  Wind  Hydro
Day 4    160   220    295

In [64]:
# Multiple conditions (use `&` for AND, `|` for OR)
df[(df["Solar"] > 130) & (df["Wind"] > 200)]

       Solar  Wind  Hydro
Day 2    135   210    310
Day 4    160   220    295


---

## üîé Filtering with `.query()`

Instead of writing boolean masks with brackets `[]`, you can use **`.query()`**:

* Conditions are written as a **string**.
* Column names are used directly (without `df["col"]`).
* Makes complex filters easier to read.

### üîé Key Benefits

* **Cleaner syntax** (no brackets, no `&`/`|`).
* Feels familiar if you know **SQL**.
* Great for complex queries.

In [65]:
# Days where Solar > 140
print(df.query("Solar > 140"))

# Days where Wind == 210
print(df.query("Wind == 210"))

# Days where Hydro < 300
print(df.query("Hydro < 300"))

# Multiple conditions (AND / OR)
print(df.query("Solar > 130 and Wind > 200"))
print(df.query("Solar > 150 or Hydro < 300"))

       Solar  Wind  Hydro
Day 3    150   190    305
Day 4    160   220    295
       Solar  Wind  Hydro
Day 2    135   210    310
       Solar  Wind  Hydro
Day 4    160   220    295
       Solar  Wind  Hydro
Day 2    135   210    310
Day 4    160   220    295
       Solar  Wind  Hydro
Day 4    160   220    295

---

# ‚ûï Derived Columns & `.apply()`

You can create **new columns** from existing ones using operations or `.apply()` with a custom function.

### üîé Why use `.apply()`?

* Add **custom logic** (e.g., classify, transform, label).
* Works **row-wise** (`axis=1`) or **column-wise** (`axis=0`).
* More flexible than simple arithmetic operations.

In [67]:
df = pd.DataFrame({
    "Solar": [120, 135, 150, 160],
    "Wind": [200, 210, 190, 220],
    "Hydro": [300, 310, 305, 295]
}, index=["Day 1", "Day 2", "Day 3", "Day 4"])

# Total production
df["Total"] = df["Solar"] + df["Wind"] + df["Hydro"]

# Solar share (% of total)
df["Solar_share_%"] = (df["Solar"] / df["Total"]) * 100

df.round(2)

       Solar  Wind  Hydro  Total  Solar_share_%
Day 1    120   200    300    620          19.35
Day 2    135   210    310    655          20.61
Day 3    150   190    305    645          23.26
Day 4    160   220    295    675          23.70

In [68]:
# Define a function to classify days as "High" or "Low" production
def classify_day(total):
    if total > 600:
        return "High"
    else:
        return "Low"

# Apply function to Total column
df["Production_Level"] = df["Total"].apply(classify_day)

df

       Solar  Wind  Hydro  Total  Solar_share_% Production_Level
Day 1    120   200    300    620      19.354839             High
Day 2    135   210    310    655      20.610687             High
Day 3    150   190    305    645      23.255814             High
Day 4    160   220    295    675      23.703704             High

# üßÆ GroupBy & Aggregations

The **`.groupby()`** method lets you **split data into groups**, apply an **aggregation** (like sum, mean), and then **combine the results**.
This is very useful for **summarizing datasets**.



### üîé Key Points

* **`.groupby("col")`** ‚Üí splits data by column values.
* Combine with `.sum()`, `.mean()`, `.max()`, `.min()`, `.agg()` for summaries.
* Works with **multiple group keys** (like Plant + Region).
* Supports **custom functions** for flexible analysis.



## ‚ö° Example: Totals by Plant

In [70]:
data = pd.DataFrame({
    "Day": ["Day 1","Day 1","Day 1","Day 2","Day 2","Day 2"],
    "Plant": ["Solar","Wind","Hydro","Solar","Wind","Hydro"],
    "MWh": [120, 200, 300, 160, 220, 295]
})

# Total production per plant
grouped = data.groupby("Plant")["MWh"].sum()
print(grouped)

# Multiple aggregations
stats = data.groupby("Plant")["MWh"].agg(["mean","min","max","sum"])
stats

Plant
Hydro    595
Solar    280
Wind     420
Name: MWh, dtype: int64

        mean  min  max  sum
Plant
Hydro  297.5  295  300  595
Solar  140.0  120  160  280
Wind   210.0  200  220  420

---

## ‚ö° Group by Multiple Columns

In [71]:
# Example with Region
data2 = pd.DataFrame({
    "Day": ["Day 1","Day 1","Day 2","Day 2","Day 2"],
    "Plant": ["Solar","Wind","Solar","Wind","Hydro"],
    "Region": ["North","East","North","East","West"],
    "MWh": [120, 200, 160, 220, 295]
})

# Total per Plant + Region
totals = data2.groupby(["Region","Plant"])["MWh"].sum()
print(totals)

Region  Plant
East    Wind     420
North   Solar    280
West    Hydro    295
Name: MWh, dtype: int64

---

## ‚ö° Using `.agg()` with Custom Functions

In [72]:
# Define a custom function
def range_func(x):
    return x.max() - x.min()

# Apply multiple aggregations including custom
custom_stats = data.groupby("Plant")["MWh"].agg(["mean","sum", range_func])
print(custom_stats)

        mean  sum  range_func
Plant
Hydro  297.5  595           5
Solar  140.0  280          40
Wind   210.0  420          20

In [112]:
data = pd.DataFrame({
    "Day": ["Day 1","Day 1","Day 1","Day 2","Day 2","Day 2"],
    "Plant": ["Solar","Wind","Hydro","Solar","Wind","Hydro"],
    "MWh": [120, 200, 300, 160, 220, 295]
})

grouped = data.groupby("Plant")["MWh"].sum()
grouped  # totals per plant

Plant
Hydro    595
Solar    280
Wind     420
Name: MWh, dtype: int64

In [113]:
stats = data.groupby("Plant")["MWh"].agg(["mean","min","max","sum"])
stats

        mean  min  max  sum
Plant
Hydro  297.5  295  300  595
Solar  140.0  120  160  280
Wind   210.0  200  220  420

---
## üß≠ Sorting & Ranking

Sort by values or index; compute ranks.

‚ö° Example: sort days by **Total MWh** descending.

In [80]:
# Energy production (MWh) for 3 plants over 4 days
df = pd.DataFrame({
    "Solar": [120, 135, 150, 160],
    "Wind": [200, 210, 190, 220],
    "Hydro": [300, 310, 305, 295]
}, index=["Day 1","Day 2","Day 3","Day 4"])
df

       Solar  Wind  Hydro
Day 1    120   200    300
Day 2    135   210    310
Day 3    150   190    305
Day 4    160   220    295

In [83]:
# Make a copy and compute totals (only numeric columns)
df_sort = df.copy()
df_sort["Total"] = df_sort.sum(axis=1)
df_sort

       Solar  Wind  Hydro  Total
Day 1    120   200    300    620
Day 2    135   210    310    655
Day 3    150   190    305    645
Day 4    160   220    295    675

In [85]:
# Sort by total production (descending)
df_sort.sort_values("Total", ascending=False)

       Solar  Wind  Hydro  Total
Day 4    160   220    295    675
Day 2    135   210    310    655
Day 3    150   190    305    645
Day 1    120   200    300    620

In [88]:
# Rank plants by Day 1 output (highest = 1)
day1_ranking = df_sort.loc["Day 1"].drop("Total").rank(ascending=False)
print(day1_ranking)

Solar    3.0
Wind     2.0
Hydro    1.0
Name: Day 1, dtype: float64

----
# üîÅ Reshaping: `melt` and `pivot`

Real-world datasets often need to be reshaped between **wide** and **long** formats depending on the analysis or visualization.

* **Wide format** ‚Üí columns represent variables (e.g., Solar, Wind, Hydro).
* **Long format** ‚Üí each row represents a single observation (e.g., Day + Plant + MWh).

üëâ Pandas gives us **`melt()`** (wide ‚Üí long) and **`pivot()`** (long ‚Üí wide).

## üîé Why This Matters

* **`melt()`** ‚Üí useful for feeding data into ML models or plotting libraries (which often expect long format).
* **`pivot()`** ‚Üí useful when you want a table-like format for reports or calculations.

In [90]:
wide = pd.DataFrame({
    "Day": ["Day 1","Day 2","Day 3","Day 4"],
    "Solar": [120,135,150,160],
    "Wind": [200,210,190,220],
    "Hydro": [300,310,305,295]
})
wide

     Day  Solar  Wind  Hydro
0  Day 1    120   200    300
1  Day 2    135   210    310
2  Day 3    150   190    305
3  Day 4    160   220    295

In [92]:
long = wide.melt(id_vars="Day", var_name="Plant", value_name="MWh")
long

      Day  Plant  MWh
0   Day 1  Solar  120
1   Day 2  Solar  135
2   Day 3  Solar  150
3   Day 4  Solar  160
4   Day 1   Wind  200
5   Day 2   Wind  210
6   Day 3   Wind  190
7   Day 4   Wind  220
8   Day 1  Hydro  300
9   Day 2  Hydro  310
10  Day 3  Hydro  305
11  Day 4  Hydro  295

In [93]:
pivoted = long.pivot(index="Day", columns="Plant", values="MWh")
pivoted

Plant  Hydro  Solar  Wind
Day
Day 1    300    120   200
Day 2    310    135   210
Day 3    305    150   190
Day 4    295    160   220


## üìä Pivot Tables

Aggregate with multiple dimensions (like Excel pivot).

‚ö° Example: average MWh by **Day** and **Plant**.

In [96]:
long

      Day  Plant  MWh
0   Day 1  Solar  120
1   Day 2  Solar  135
2   Day 3  Solar  150
3   Day 4  Solar  160
4   Day 1   Wind  200
5   Day 2   Wind  210
6   Day 3   Wind  190
7   Day 4   Wind  220
8   Day 1  Hydro  300
9   Day 2  Hydro  310
10  Day 3  Hydro  305
11  Day 4  Hydro  295

In [95]:
pivot_table = long.pivot_table(index="Day", columns="Plant", values="MWh", aggfunc="mean")
pivot_table

Plant  Hydro  Solar   Wind
Day
Day 1  300.0  120.0  200.0
Day 2  310.0  135.0  210.0
Day 3  305.0  150.0  190.0
Day 4  295.0  160.0  220.0


## üß± Indexing: `set_index`, `reset_index`, MultiIndex

Control row labels and create hierarchical indexes.

‚ö° Energy example: MultiIndex by **Day** and **Plant**.

In [98]:
mi = long.set_index(["Day","Plant"]).sort_index()
mi

             MWh
Day   Plant
Day 1 Hydro  300
      Solar  120
      Wind   200
Day 2 Hydro  310
      Solar  135
      Wind   210
Day 3 Hydro  305
      Solar  150
      Wind   190
Day 4 Hydro  295
      Solar  160
      Wind   220

In [99]:
mi.reset_index()

      Day  Plant  MWh
0   Day 1  Hydro  300
1   Day 1  Solar  120
2   Day 1   Wind  200
3   Day 2  Hydro  310
4   Day 2  Solar  135
5   Day 2   Wind  210
6   Day 3  Hydro  305
7   Day 3  Solar  150
8   Day 3   Wind  190
9   Day 4  Hydro  295
10  Day 4  Solar  160
11  Day 4   Wind  220


# ‚è±Ô∏è DateTime / Time Series

Parse dates, set as index, resample.

‚ö° Example: daily ‚Üí weekly totals.

In [102]:
rng = pd.date_range("2025-01-01", periods=10, freq="D")
ts = pd.DataFrame({
    "Solar": [120,130,140,160,180,150,140,135,145,155],
    "Wind":  [200,210,220,190,205,215,225,230,210,205]
}, index=rng)
ts["Total"] = ts.sum(axis=1)
ts

            Solar  Wind  Total
2025-01-01    120   200    320
2025-01-02    130   210    340
2025-01-03    140   220    360
2025-01-04    160   190    350
2025-01-05    180   205    385
2025-01-06    150   215    365
2025-01-07    140   225    365
2025-01-08    135   230    365
2025-01-09    145   210    355
2025-01-10    155   205    360

In [103]:
# Weekly totals (Mon-Sun by default)
weekly = ts.resample("W").sum()
weekly

            Solar  Wind  Total
2025-01-05    730  1025   1755
2025-01-12    725  1085   1810


# üî§ String Operations

Vectorized string methods with `.str`.

‚ö° Example: clean plant labels.

In [104]:
labels = pd.Series(["  SOLAR  ", "wind-farm", "Hydro_Plant"])
clean = (labels.str.strip()
               .str.replace("-", " ", regex=False)
               .str.replace("_", " ", regex=False)
               .str.title())
print(clean)

0          Solar
1      Wind Farm
2    Hydro Plant
dtype: object


# üè∑Ô∏è Categoricals

Use category dtype to save memory and define order.

‚ö° Example: ordered **Region** categories.

In [105]:
regions = pd.Series(["North","West","East","East","North"])
regions_cat = regions.astype("category")
print(regions_cat.dtype)
print(regions_cat.cat.categories)

category
Index(['East', 'North', 'West'], dtype='object')


# ü™ü Window Functions (`rolling`)

Compute rolling statistics over time windows.

‚ö° Energy example: 3-day rolling **mean** of total production.

In [106]:
ts = pd.DataFrame({
    "Total": [300, 320, 340, 310, 305, 330, 360]
}, index=pd.date_range("2025-01-01", periods=7, freq="D"))
ts

            Total
2025-01-01    300
2025-01-02    320
2025-01-03    340
2025-01-04    310
2025-01-05    305
2025-01-06    330
2025-01-07    360

In [107]:
roll_mean = ts["Total"].rolling(window=3, min_periods=1).mean()
roll_mean

2025-01-01    300.000000
2025-01-02    310.000000
2025-01-03    320.000000
2025-01-04    323.333333
2025-01-05    318.333333
2025-01-06    315.000000
2025-01-07    331.666667
Freq: D, Name: Total, dtype: float64

# ‚úèÔ∏è Renaming Columns and Rows

Sometimes you need to **rename columns or row labels** to make your dataset clearer or standardized.
In Pandas, we use **`.rename()`** for this.

## üîé Key Notes

* **`.rename(columns={...})`** ‚Üí rename columns.
* **`.rename(index={...})`** ‚Üí rename rows (index).
* You can also use `df.columns = [...]` to rename all columns at once.

---

## ‚ö° Renaming Columns

In [108]:
# Energy production dataset (MWh)
df = pd.DataFrame({
    "Sol": [120, 135, 150, 160],
    "Wnd": [200, 210, 190, 220],
    "Hyd": [300, 310, 305, 295]
}, index=["Day 1", "Day 2", "Day 3", "Day 4"])

print("Before renaming:\n", df)

# Rename columns
df = df.rename(columns={"Sol": "Solar", "Wnd": "Wind", "Hyd": "Hydro"})
print("\nAfter renaming:\n", df)

Before renaming:
        Sol  Wnd  Hyd
Day 1  120  200  300
Day 2  135  210  310
Day 3  150  190  305
Day 4  160  220  295

After renaming:
        Solar  Wind  Hydro
Day 1    120   200    300
Day 2    135   210    310
Day 3    150   190    305
Day 4    160   220    295

---

## ‚ö° Renaming Rows (Index)

In [109]:
# Rename index labels (rows)
df = df.rename(index={"Day 1": "Monday", "Day 2": "Tuesday"})
print(df)

         Solar  Wind  Hydro
Monday     120   200    300
Tuesday    135   210    310
Day 3      150   190    305
Day 4      160   220    295